@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if(SignInManager.IsSignedIn(User))
{
   
    <li class="nav-item">
        <a class="nav-link" href="/MyAccount/Index"><i class="fa-solid fa-user-pen"></i>@User.Identity.Name</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Logout/Index"><i class="fa-solid fa-person-walking-arrow-right"></i>Çıkış</a>
    </li>

}
else
{
    <li class="nav-item">
        <a class="nav-link" href="/Register/Index"><i class="ti-user"></i>Kayıt Ol</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Login/Index"><i class="ti-power-off"></i>Üye Giriş</a>
    </li>
}



