@model eticarethaftasonu.Models.Slider
<section class="hero-slider">
	<!-- Single Slider -->
	<div class="single-slider">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-lg-9 offset-lg-3 col-12">
					<div class="text-inner">
						<div class="row">
							<div class="col-lg-7 col-12">
								<div class="hero-text">
									<h1>@Model.Header1</h1>
									<h2>@Model.Header2</h2>
									<p>@Model.Context</p>
									<div class="button">
										<a href="#" class="btn">Alış Veriş</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/ End Single Slider -->
</section>
