@foreach (var k in ViewBag.categoriler)
{
    <li class="pb-3">
        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" asp-action="Kategoriler"
           asp-route-id="@k.CategoryId">
            @k.CategoryName
            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
        </a>

    </li>
}